{% extends 'menu/menu.html' %}
{% block content-wrapper %}
{% load static %}

        <section class="content-header">
          <h1>
            Contactos
            <small>Visualización de contacto</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="#">Contactos</a></li>
            <li class="active">Visualización de contacto</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Visualización de contacto</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                  
                  {% csrf_token %}
                  <div class="box-body">
                    
                    <div class="form-group input-group-lg">
                        <label for="nombre_contacto">Nombre y Apellidos del contacto:</label>
                        <input type="text" readonly value="{{ contactos.nombre_contacto }}" class="form-control" name="nombre_contacto" id="nombre_contacto">
                    </div>
                    <div class="form-group input-group-lg">
                        <label for="institucion">Institución a la cual pertenece:</label>
                        <input type="text" readonly value="{{ contactos.institucion }}" class="form-control" name="institucion" id="institucion">
                    </div>
                    <div class="form-group input-group-lg">
                        <label for="telefono">Número teléfonico:</label>
                        <input type="text" readonly value="{{ contactos.telefono }}"  class="form-control" name="telefono" id="telefono">
                    </div>
                    <div class="form-group input-group-lg">
                        <label for="correo">Correo electrónico:</label>
                        <input type="email" readonly value="{{ contactos.correo }}" class="form-control" name="correo" id="correo">
                    </div>
                    <div class="form-group input-group-lg">
                        <label for="descripcion_lista">Miembro de la(s) lista(s):</label> 
                        <input type="text" readonly value="{% for listas in contactos.listas.all %}{{ listas }} {% endfor %}" name="tipo_mensaje">                
                    </div>
                  </div><!-- /.box-body -->

                </form>
      
              </div><!-- /.box -->
            </div><!--/.col (right) -->
          </div>   <!-- /.row -->
        </section><!-- /.content -->


{% endblock %}