{% extends 'menu/menu.html' %}
{% block content-wrapper %}
{% load static %}

        <section class="content-header">
          <h1>
            Noticias
            <small>Noticia enviada</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="#">Noticias</a></li>
            <li class="active">Noticia enviada {{ object.fecha|date:'d/m/Y' }}</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Noticia enviada {{ object.fecha|date:'d/m/Y' }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

        					<form id="multiselectForm" action="{% url 'enviar_noticia' %}" method="post" enctype="multipart/form-data">

        						<div class="large-12 columns">
        							<div class="table-responsive" id="file_container" style="display:block">

        								<table class="table">
        								  <tr>
        									<th style="width: 20%">Fecha</th>
        									<th style="width: 20%">Hora</th>
                          <th style="width: 20%">Etiqueta</th>
        									<th style="width: 20%">Enviado por</th>
        								  </tr>
        								  <tr>
        									<td>
        									  <input type="text" value="{{ object.fecha|date:'d/m/Y' }}" readonly name="fecha">
        									</td>
        									<td>
        									   <input type="text" value="{{ object.hora|date:'h:i A' }}" readonly name="hora">
        									</td>
                          <td>
        									   <input type="text" value="{{ object.get_tag_display }}" readonly name="tag">
        									</td>
        									<td>
        									  <input type="text" value="{{ object.enviadopor }}" readonly name="enviadopor">
        									</td>
        								  </tr>
        								</table>
                        <label for="titulomensaje"><h5>Antetitulo de la noticia:</h5></label>
                        <input type="text" style="width: 100%" value="{{ object.antetitulo_noticia }}" readonly name="antetitulo_noticia">
        								<label for="titulomensaje"><h5>Titulo de la noticia:</h5></label>
        								<input type="text" style="width: 100%" value="{{ object.titulo_noticia }}" readonly name="titulo_noticia">
        								<label for="cuerpomensaje"><h5>Resumen de la noticia:</h5></label>
        								<textarea style='width: 100%;' readonly class="form-control" maxlength="1000" rows="4" value="{{ object.noticia }}" name="noticia">{{ object.noticia }}</textarea>
                        <table class="table">
        								  <tr>
        									  <th style="width: 20%">Diario</th>
        									  <th style="width: 20%">URL</th>
        								  </tr>
        								  <tr>
                            {% for p in enlaces %}
          									<td>
          									  <input type="text" value="{{ p.diario }}" readonly name="diario">
          									</td>
          									<td>
          									   <input type="text" value="{{ p.url }}" readonly name="url">
          									</td>
                            {% endfor %}
        								  </tr>
        								</table>
        							</div>
        						</div>

        					</form>

                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

{% endblock %}
