{% extends 'menu/menu.html' %}
{% block content-wrapper %}
{% load static %}

        <section class="content-header">
          <h1>
            Resumen de Noticias
            <small> Resumen de noticias escritos</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="#">Resumen</a></li>
            <li class="active">Escritos</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Resúmenes Escritos</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Titulo</th>
                        <th>Etiqueta</th>
                        <th>URL</th>
                        <th style="font-weight: bold;">Visualizar</th>
                        <th style="font-weight: bold;">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in NoticiasResumen %}
                      <tr>
                        <td>{{ p.titulo_noticia_resumen }}</td>
                        <td>{{ p.tag_noticia_resumen }}</td>
                        <td>{{ p.url_noticia_resumen }}</td>
                        <td><a href="{% url 'noticia_resumen_detalle' p.id %}"><button style="width:100px" type="button" class="btn btn-default btn-xs">Visualizar <span class="glyphicon glyphicon-pencil"></span></button></a></td>
                        <td><a href="{% url 'noticia_resumen_delete' p.id %}"><button style="width:100px" type="button" class="btn btn-danger btn-xs">Eliminar <span class="glyphicon glyphicon-fire"></span></button></a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

    </script>

{% endblock %}
